
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 30px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    background-image: linear-gradient(white 95%, #eaeaea 5%);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 1px 1px #ccc;
}

.login-form input, .login-form select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.login-form input::placeholder,  .login-form select {
    color: #777;
    opacity: 0.8;
}

.login-form button {
    padding: 12px;
    font-size: 1rem;
    font-family: 'Amatic SC', cursive;
    background-color: #ffd700;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form button:hover {
    background-color: #ffb400;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.login-form input:focus, .login-form select:focus {
    outline: none;
    border: 1px solid #ffd700;
    box-shadow: 0 0 10px #ffd700;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.login-links a {
    color: #ffd700;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    transition: color 0.3s ease-in-out;
}

.login-links a:hover {
    color: #ff4500;
}

@media (max-width: 600px) {
    .login-container {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    }

    .login-form h2 {
        font-size: 2rem;
    }

    .login-form input, .login-form select {
        padding: 8px;
        font-size: 0.9rem;
    }

    .login-form button {
        padding: 10px;
        font-size: 1rem;
    }

    .login-links {
        flex-direction: column;
        align-items: center;
    }

    .login-links a {
        margin-bottom: 5px;
    }
}