{% extends 'learn/layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'learn/css/index.css' %}">
    <style>
        .content p {
            line-height: 1.6;
            flex-grow: 0.3;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="body-center">
        {% for group in groups %}
            <div class="section-container">
                <div class="content">
                    <h1>{{ group.class_name }}</h1>
                    <p>{{ group.description }}</p>

                    <span>
                    <a href="/groups/{{ group.id }}/" style="background-color: #4ac1f7" class="btn">View</a>
                    <a href="/groups/{{ group.id }}/" class="btn">Leave</a>
                    <a href="/groups/{{ group.id }}/" style="background-color: red" class="btn">Delete</a>
                </span>
                </div>
            </div>
        {% endfor %}


    </div>

    <script src="{% static 'learn/js/index.js' %}"></script>
{% endblock %}
