{% extends 'learn/auth/layout.html' %}

{% block form %}
    <form class="login-form" method="post">
        <h2>Sign Up</h2>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required aria-label="">
        <select name="role" required aria-label="">
            <option value="" disabled selected>Select your role</option>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        <input type="email" name="email" placeholder="Email" required aria-label="">
        <input type="password" name="password" placeholder="Password" required aria-label="">
        <input type="password" name="confirmation" placeholder="Confirm Password" required aria-label="">
        <button type="submit">Sign Up</button>
        <div class="login-links">
            <a></a>
            <a href="{% url 'login' %}">Already have an account? Sign In</a>
        </div>
    </form>
{% endblock %}
